# Copyright (c) 2024 DxPru
# SPDX-License-Identifier: Apache-2.0

config DISPLAY_HUB75_PIO
    bool "Hub75 Pio display driver"
    default y
    # depends on GPIO && PIO
    select GPIO
    # select PICOSDK_USE_PIO
    # select PICOSDK_USE_CLAIM
    help
        Hub75 Pio display driver
