/*
 * Copyright (c) 2024 DxPru. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,display = &display0;
    };

        display0: display0 {
            compatible = "raspberrypi,hub75-pio";
                       status = "okay";
            height = <32>;
            width = <64>;
            pixel-format = <0>;
            ctrl-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 12 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 13 GPIO_ACTIVE_HIGH>;
            data-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 25 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 26 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 27 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 28 GPIO_ACTIVE_HIGH>,
                                    <&gpio0 29 GPIO_ACTIVE_HIGH>;
            addr-gpios = <&gpio0 6  GPIO_ACTIVE_HIGH>,
                                    <&gpio0 7  GPIO_ACTIVE_HIGH>,
                                    <&gpio0 8  GPIO_ACTIVE_HIGH>,
                                    <&gpio0 9  GPIO_ACTIVE_HIGH>;
        };
};
