/ {
	chosen {
		zephyr,display = &hub75;
	};

	hub75: hub75 {
		compatible = "raspberry,hub75-pio";
		height = <32>;
		width = <64>;
		pixelformat = <8>;
		ctrl-pins = <11 3>;
		data-pins = <24 6>;
		addr-pins = <6 4>;
	};
};
